/* Adapted from DesmondTo */

s.root {
    -fx-base: #0E1621;
    -fx-background: #0E1621;
    -fx-focus-color: #0E1621;
}

.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.text-input:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}

.text-input {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #04B5CD;
    -fx-border-width: 2;
    -fx-text-fill: black;
}

.button {
    -fx-background-color: #04B5CD;
    -fx-font-weight: bold;
}

.scroll-pane .scroll-bar:vertical {
    -fx-unit-increment: 20 ;
    -fx-block-increment: 60 ;
}

.scroll-bar:vertical .track{
    -fx-background-color: #2E343C;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #545A60;
    -fx-background-radius: 5em;
}