/*
The following declaration block was adapted/reused from
https://stackoverflow.com/questions/20118574/set-background-color-in-scrollpane
 */
.scroll-pane.scrollPane > .viewport {
    -fx-background-color: linear-gradient(to bottom right, #8FD8D8, #ffffe0);
}

.dialog {
    -fx-padding: 16;
    -fx-background-insets: 8;
    -fx-border-insets: 8;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 8, 0.0, 2, 2);
    -fx-text-fill: #000045;
    -fx-font-size: 14;
    -fx-font-family: "Calibri";
}
