# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# Some files in text-ui-test
text-ui-test/ACTUAL.txt
text-ui-test/EXPECTED-UNIX.TXT
text-ut-test/data/*
text-ui-test/.gradle

data/*