# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.txt
text-ui-test/EXPECTED-UNIX.TXT
src/main/java/actual.txt
src/main/java/Duke.class
src/main/java/EXPECTED.TXT
src/main/java/input.txt
src/main/java/Level-2.txt
src/main/java/Level-1 Expected.TXT
src/main/java/Level-1.txt
src/main/java/Duke$Task.class
src/main/java/Level-3.txt
src/main/java/Duke$Deadline.class
src/main/java/Duke$Event.class
src/main/java/Duke$ToDo.class
src/main/java/Level-4.txt
src/main/java/actual_4.txt
src/main/java/Level-6.txt
src/main/java/Level-5.txt
src/main/java/Duke$1.class
src/main/java/Duke$Command.class
