
.round-box {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-color: black;
}

/* reference: https://stackoverflow.com/questions/16977100/how-do-i-add-margin-to-a-javafx-element-using-css */
.with-margin {
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.color-primary {
    -fx-background-color: #0275d8;
}

.color-success {
    -fx-background-color: #5cb85c;
}

.color-info {
    -fx-background-color: #5bc0de;
}

.color-warning {
    -fx-background-color: #f0ad4e;
}

.color-danger {
    -fx-background-color: #d9534f;
}