.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-pane{
   -fx-background-color:transparent;
}

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 20 ;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}

.button {
    -fx-background-radius: 20 ;
}