<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<!--
    This configuration file enforces rules for a modified version of the module's code standard at
    https://oss-generic.github.io/process/codingstandards/coding-standards-java.html
-->

<module name="Checker">


</module>