.root {
    -fx-base: #1c1c1c
}

.send-button {
    -fx-background-radius: 30;
    -fx-text-fill: black;
}

.text-field {
    -fx-background-radius: 30;
    -fx-background-color: #FFFFFF;

}

.textBox {
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
}