.root {
    -fx-base: #e6aaaa
}

.send-button {
    -fx-background-radius: 30;
    -fx-text-fill: black;
}

.text-field {
    -fx-background-radius: 30;
    -fx-background-color: #FFFFFF;
}

.textBox {
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
    -fx-background-color: #4a4a4a;
    -fx-text-fill: #f0f0f0;
}