.user-bubble {
    -fx-background-radius: 15 15 0 15;
    -fx-background-color: #B86EE2;
    -fx-text-fill: white;
}

.reply-bubble {
    -fx-background-radius: 15 15 15 0;
    -fx-background-color: #CECECE;
    -fx-text-fill: black;
}