.root {
    -fx-font-family: "Tahoma";
    -fx-font-size: 14;
}
.dialog-box {
    -fx-background-color: #e6b3e5;
    -fx-background-radius: 20px;
    -fx-text-fill: black;
    -fx-padding: 20px;
    -fx-border: 20px;
}

.dialog-container {
    -fx-background-image: url("/images/wallpaper.jpeg");
    -fx-background-size: 100%;
    -fx-background-position: top;
    -fx-padding: 10;
}

.send-button {
    -fx-background-color: #011629;
    -fx-text-fill: #FFFFFF;
}

.input-box {
    -fx-background-color: #e6b3e5;
}