.root {
    -fx-font-size: 13px;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
}

.button:focused {
    /*-fx-background-color: #ede6f0;*/
    -fx-background-color: black;
}

.dialog-box-section Label {
    -fx-font-size: 13px;
    /*-fx-font-family: "Times New Roman";*/
    -fx-font-family: "Courier New";
    -fx-background-color: #FDFEFE;
    /*-fx-fill: #ebfff6;*/
    /*-fx-text-alignment: right;*/
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.dialog-box-section ImageView {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
/*.text-field:focused {*/
/*    -fx-background-color: #a9a9a9 , white , white;*/
/*    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;*/
/*}*/




/*Skyblaise99 code*/

/*.text-field{*/
/*    -fx-text-fill: #50ff00;*/
/*}*/

/*.scroll-pane {*/
/*    -fx-background-color: black;*/
/*    -fx-border-color: black;*/
/*}*/

/*.scroll-bar:vertical{*/
/*    -fx-background-color:transparent;*/
/*}*/

/*.increment-button, .decrement-button {*/
/*    -fx-background-color: transparent;*/
/*    -fx-border-color: transparent;*/
/*}*/

/*.scroll-bar:vertical .thumb {*/
/*    -fx-background-color: grey;*/
/*}*/