.user-dialog {
    -fx-font-size: 11px;
    /*-fx-text-fill: rgba(254, 250, 212, 1);*/
    -fx-font-family: fantasy;
    -fx-font-weight: bold;
    -fx-border-style: solid inside;
    -fx-border-radius: 10;
    -fx-border-insets: 10;
    -fx-border-color: transparent;
    -fx-padding: 10;
    -fx-background-color: transparent, rgba(245, 215, 110, 1);
    -fx-background-insets: 0, 10;
    -fx-background-radius: 10;
}

.duke-dialog {
    -fx-font-size: 11px;
    /*-fx-text-fill: rgba(255, 160, 122, 1);*/
    -fx-font-family: fantasy;
    -fx-font-weight: bold;
    -fx-border-style: solid inside;
    -fx-border-radius: 10;
    -fx-border-insets: 10;
    -fx-border-color: transparent;
    -fx-padding: 10;
    -fx-background-color: transparent, rgba(255, 255, 204, 1);
    -fx-background-insets: 0, 10;
    -fx-background-radius: 10;
}

#dialogContainer {
    -fx-background-color: rgba(228, 210, 228, 1);
}

#sendButton {
    -fx-font-family: fantasy;
    -fx-font-weight: bold;
    -fx-background-radius: 15px;
    -fx-border-radius: 100;
    -fx-background-color: rgba(241, 231, 254, 1);
}

#userInput {
    -fx-background-radius: 15px;
    -fx-background-color: transparent, rgba(255, 255, 204, 1);
    -fx-border-color: transparent;
    -fx-font-family: fantasy;
    -fx-font-weight: bold;
}
/* table view styles adapted from https://edencoding.com/style-tableview-javafx/ */
.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-padding: 2px 5px 5px 2px;
}

.table-row-cell:hover {
    -fx-text-background-color: rgba(155, 89, 182, 1);
}
.table-row-cell:odd {
    -fx-background-color: rgba(228, 210, 228, 0.3);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even {
    -fx-background-color: rgba(255, 255, 204, 0.3);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-view {
    -fx-background-color: transparent;
    -fx-padding: 5;
    -fx-alignment: center;
}

.table-view .column-header-background{
    /*-fx-background-color: linear-gradient(to bottom, rgba(228, 210, 228, 1), lightgoldenrodyellow);*/
    -fx-background-color: rgba(228, 210, 228, 0.7);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-column-halignment: center;
    -fx-text-alignment: center;
}

.help-page {
    -fx-background-color: white;
}

#exitButton {
    -fx-font-family: fantasy;
    -fx-font-weight: bold;
    -fx-background-radius: 15px;
    -fx-border-radius: 100;
    -fx-background-color: rgba(228, 210, 228, 0.7);
}




