.dialog-box {
    -fx-background-radius: 15;
    -fx-padding: 10;
}

.dialog-container {
    -fx-background-color: #104046;
    -fx-background-size: 100%;
    -fx-background-position: bottom;
    -fx-padding: 10;
}

.duke-dialog-background {
    -fx-border-color: #FFFFFF;
    -fx-border-width: 1;
    -fx-border-radius: 18 18 18 18;
    -fx-text-fill: #FFFFFF;
}

.user-dialog-background {
    -fx-background-color: #A85855;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 1;
    -fx-border-radius: 9 20 11 18;
    -fx-text-fill: #FFFFFF;
}

.send-button {
    -fx-background-color: #A85855;
    -fx-text-fill: #FFFFFF;
}

.text-field {
    -fx-text-fill: #A85855;
    -fx-background-color: #FFFFFF;
}