.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    fg-text: #494b53;
    fg-accent: #56b6c2;
    fg-low: #ebebeb;
    fg-high: fg-accent;
    -fx-text-base-color: fg-text;

    -fx-base: #fafafa;
    -fx-default-button: #f0f0f0;
}
