.button {
    -fx-text-fill: blue;
}

.dialog {
    -fx-background-color: #ebebeb;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-padding: 20px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}

.dialog__text {
    -fx-text-fill: #494b53;
}

.dialog--augury {
    -fx-background-color: #ABB2BF;
}