.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    fg-text: #222222;
    fg-accent: #ed1e92;
    fg-low: #ced0ce;
    fg-high: derive(fg-accent, 50%);
    -fx-text-base-color: fg-text;

    -fx-base: derive(#ffffff, -10%);
    -fx-default-button: #ced0ce;
}
