.root {
    -fx-font-family: Helvetica;
    -fx-font-size: 11pt;
}

.speech-bubble {
    -fx-background-color: rgb(255, 239, 239);
    -fx-background-radius: 30px;
}

.user-speech-bubble {
    -fx-background-color: rgb(217, 234, 254);
}

.scroll-pane {
    -fx-background-color:transparent;
}

.main-application-window {
    -fx-background-image: url("/images/background.jpg");
}